<main> 
    <a href= "/restaurant/{{restaurant._id}}">Back to {{restaurant.name}}</a> 
    <h1> Edit Your Comment </h1>
    <p>{{restaurant.name}} - {{restaurant.boro}}</p>

    {{#if error}}
    <div class="form-error-banner">{{error}}</div>  
    {{/if}}
 
    <h2>Original Comment</h2>
    <span><strong>{{comment.date}}</strong></span>
    <p>{{comment.message}}</p>

    <form
    action= "/restaurant/{{restaurant._id}}/comment/{{comment._id}}/edit"
    method= "POST"
    class= "comment-form">
        <label for="message">
        Post edited Comment
        <textarea name="message" id="message" placeholder="{{comment.message}}"></textarea>
        </label>
        <button type="submit" name="postMessageButton" id="postMessageButton">Post</button> 
    </form>  
    <script src="/public/js/editComment.js"></script>

</main>
