<main>
  <a href="/home">Back to Search</a>

  <header>
    <h1>{{restaurant.name}}</h1>
    <span>{{restaurant.cuisine}}</span>
    <span>{{restaurant.boro}}</span>
  </header>

    <p>
      Address:
      {{restaurant.address.building}} {{restaurant.address.street}}, {{restaurant.address.zip}}
    </p>
    <p>Phone:{{restaurant.phone}}</p>

</main>
