<main>
    <h1>
        Restaurants Found
    </h1>

    <h3 class="searchTerms">
        Showing results for 
        {{#if name}}{{name}}{{else}}restaurants{{/if}}
        {{#if boro}}in {{boro}}{{else}}{{/if}}
        {{#if cuisine}}with cuisine type {{cuisine}}{{else}}{{/if}}
    </h3>

    <a class="search" href="/">
        Search another location
    </a>

</main>