<main>
    <h1>
        Restaurants Found
    </h1>

    <h3 class="searchTerms">
        Showing results for 
        {{#if name}}{{name}}{{else}}restaurants{{/if}}
        {{#if boro}}in {{boro}}{{else}}{{/if}}
        {{#if cuisine}}with cuisine type {{cuisine}}{{else}}{{/if}}
    </h3>

    <div class="results">
        {{#each restaurantsData}}
            <a href="/restaurant/{{this._id}}">
                {{this.name}} <br>
            </a>
            <p class="resultsDetails">
                {{#if this.boro}}{{this.boro}}{{else}}{{/if}} <br>
                {{#if this.cuisine}}{{this.cuisine}}{{else}}{{/if}}
            <p>
            <hr>
        {{/each}}
    </div>


    <a class="search" href="/">
        Search another location
    </a>

</main>